<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="ServerPort" value="5700"/>
    <add key="ServerListen" value="5"/>
    <add key="IsAnimation" value="True"/>
    <add key="RoomName" value="放疗科"/>
    <add key="ISViewCurrentPatient" value="True"/>
    <add key="ISViewNextPatient" value="True"/>
    <add key="ISViewWaitCountPatient" value="True"/>
    <add key="ISViewCallPatientInfo" value="True"/>
  </appSettings>
</configuration>